NET "CLK" LOC = "T8"; #50MHz 

# Outputs
NET "HS" LOC = "M14"| IOSTANDARD = "LVCMOS33";    
NET "VS" LOC = "L13"| IOSTANDARD = "LVCMOS33";    

NET "RED[0]" LOC = "M11" | IOSTANDARD = "LVCMOS33";    
NET "RED[1]" LOC = "M12"| IOSTANDARD = "LVCMOS33";    
NET "RED[2]" LOC = "L12"| IOSTANDARD = "LVCMOS33";    
NET "RED[3]" LOC = "N14"| IOSTANDARD = "LVCMOS33";    
NET "RED[4]" LOC = "M13"| IOSTANDARD = "LVCMOS33";    

NET "GREEN[0]" LOC = "M9"| IOSTANDARD = "LVCMOS33";    
NET "GREEN[1]" LOC = "N9"| IOSTANDARD = "LVCMOS33";    
NET "GREEN[2]" LOC = "P9"| IOSTANDARD = "LVCMOS33";    
NET "GREEN[3]" LOC = "L10"| IOSTANDARD = "LVCMOS33";    
NET "GREEN[4]" LOC = "M10"| IOSTANDARD = "LVCMOS33";    
NET "GREEN[5]" LOC = "P11"| IOSTANDARD = "LVCMOS33";    

NET "BLUE[0]" LOC = "P7"| IOSTANDARD = "LVCMOS33";    
NET "BLUE[1]" LOC = "M7"| IOSTANDARD = "LVCMOS33";    
NET "BLUE[2]" LOC = "P8"| IOSTANDARD = "LVCMOS33";    
NET "BLUE[3]" LOC = "N8"| IOSTANDARD = "LVCMOS33";    
NET "BLUE[4]" LOC = "L7"| IOSTANDARD = "LVCMOS33";    